[submodule "busybox"]
	path = busybox
	url = https://github.com/thomas-coding/busybox.git
[submodule "linux"]
	path = linux
	url = https://github.com/thomas-coding/linux.git
[submodule "qemu"]
	path = qemu
	url = https://github.com/thomas-coding/qemu.git
